.navbar-custom { 
    color: white; 
    background-color:rgb(77, 73, 73);
}

.navbar-nav > li > .dropdown-menu {
    background-color:white;  
}
.navbar-nav > li > .dropdown-menu a {
     color: black; 
 }

 h1 {
    color: black;
    text-align:center;
 }
 .landing {
    background-color:rgb(199, 195, 195);
    width: 800px;
    height: 560px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-top: 10px;
    margin-left: 100px;
 }

 .landing .summary {

    margin-left: 20px;
    width:600px;


 }

 .no-mice-per-regimen {
    background-color:rgb(199, 195, 195);
    width: 800px;
    height: 560px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-top: 10px;
    margin-left: 100px;
 }

 .no-mice-per-regimen .summary {
    text-align:center;
    margin-left: 20px;
    width:600px;

 }
 .no-data-points-per-regimen {
   background-color:rgb(199, 195, 195);
   width: 800px;
   height: 560px;
   display: inline-block;
   vertical-align: top;
   color: white;
   margin-top: 10px;
   margin-left: 100px;
}

.no-data-points-per-regimen .summary {
   text-align:center;
   margin-left: 100px;
   width:600px;

}
 
 .visualizations {
    background-color:rgb(199, 195, 195);
    width: 400px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-top: 10px;
    margin-left: 50px;
 }

 .mouse-gender {
   background-color:rgb(199, 195, 195);
   width: 800px;
   height: 560px;
   display: inline-block;
   vertical-align: top;
   color: white;
   margin-top: 10px;
   margin-left: 100px;
}

.mouse-gender .summary {
   text-align:center;
   margin-left: 20px;
   width:600px;

}
.random-mouse-tumor-volume {
   background-color:rgb(199, 195, 195);
   width: 800px;
   height: 560px;
   display: inline-block;
   vertical-align: top;
   color: white;
   margin-top: 10px;
   margin-left: 100px;
}

.random-mouse-tumor-volume .summary {
   text-align:center;
   margin-left: 20px;
   width:600px;

}
.final-tumor-volume {
   background-color:rgb(199, 195, 195);
   width: 800px;
   height: 560px;
   display: inline-block;
   vertical-align: top;
   color: white;
   margin-top: 10px;
   margin-left: 100px;
}

.final-tumor-volume .summary {
   text-align:center;
   margin-left: 20px;
   width:600px;

}

 .summarywords {
    font-size: 20px;
    width: 700px;
    display: inline-block;
    text-align:center;
    margin-left: 20px;
    color: black;
 }

 .no-data-points-per-regimen .summary {
    font-size: 30px;
 }
 
 .no-mice-per-regimen .summary {
   font-size: 30px;
}
.mouse-gender .summary {
   font-size: 30px;
   text-align:center;
}

}
.visualizations h1 {
    font-size: 32px;
    margin-left: 50px;

}


.mouse-gender h1 {
   font-size:28px;
}